<div class="actions-container">
  <button class="action-button" color="primary" mat-raised-button routerLink='/admin/users'>Manage Users</button>
  <button class="action-button" color="primary" mat-raised-button routerLink='/admin/tenants'>Manage Tenants</button>
  <button class="action-button" mat-raised-button routerLink='/admin/settings'>Application Settings</button>
  <button class="action-button" mat-raised-button routerLink='/admin/users/logs'>User Logs </button>
  <button class="action-button" mat-raised-button routerLink='/admin/reports'>Admin Reports </button>
  <button class="action-button" mat-raised-button routerLink='/admin/analytics'>Analytics</button>
</div>
