<mat-toolbar fxLayoutAlign="start center">
    <mat-nav-list fxLayout="row" >
        <mat-list-item [matMenuTriggerFor]="userMenu">File</mat-list-item>
        <mat-list-item [matMenuTriggerFor]="databaseMenu">Reports</mat-list-item>
        <mat-list-item>Database</mat-list-item>
        <mat-list-item>Settings</mat-list-item>
    </mat-nav-list>
    <span></span>
    <client-icon-menu></client-icon-menu>
</mat-toolbar>


<mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/account/profile/">
      <i class="fal fa-user"></i>&nbsp; &nbsp; Profile
    </button>
    <button mat-menu-item routerLink="">
      <i class="fal fa-question-circle"></i>&nbsp; &nbsp; Support
    </button>
    <button mat-menu-item routerLink="">
      <i class="fal fa-bug"></i>&nbsp; &nbsp; Report an Issue
    </button>
    <button mat-menu-item>
      <i class="fal fa-sign-out"></i>&nbsp; &nbsp; Logout
    </button>
  </mat-menu>



  <mat-menu #databaseMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/account/profile/">
      <i class="fal fa-user"></i>&nbsp; &nbsp; Item Database
    </button>
    <button mat-menu-item routerLink="">
      <i class="fal fa-question-circle"></i>&nbsp; &nbsp; Assembly Catalog
    </button>
    <button mat-menu-item routerLink="">
      <i class="fal fa-bug"></i>&nbsp; &nbsp; Report an Issue
    </button>
    <button mat-menu-item>
      <i class="fal fa-sign-out"></i>&nbsp; &nbsp; Logout
    </button>
  </mat-menu>