<mat-toolbar color="primary" class="recent-posts-section" style="max-width: 100vw;height: 100%;" fxLayout="column"
  fxLayoutAlign="center center">
  <h2 style="font-size: 22px;">LATEST NEWS</h2>
  <div class="overview-container" style="max-width: 95vw;">
    <mat-card class="card-tall" fxLayoutAlign="column wrap">
      <mat-card-title>Calculating The Impacts<br> of COVID-19</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <mat-card-title>Q2 Construction Cost Report</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <mat-card-title>Staying Ahead of the Curve</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <mat-card-title>Project Spotlight: XYZ Corp Headquarters</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <mat-card-title>2020 NECA Manual of Labor Units Released</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <mat-card-title>2020 NECA Manual of Labor Units Released</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <div fxLayout="column" fxlayoutAlign="center center">
        <i class="fal fa-plus fa-5x" style="color: #607D8B;"></i>
        <h4 style="color: #607D8B;">View More</h4>
      </div>
    </mat-card>
  </div>
</mat-toolbar>
