<div class="page-wrapper" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="header-container" fxLayout="row" fxFlex >
    <div class="title-container" fxLayout="column" fxFlex>
      <h3>PROJECT DESIGN</h3> 
    </div>
    <div class="accordion-actions" fxLayout="column" fxLayoutAlign="center center" >
      <mat-nav-list fxLayout="column" >
        <mat-list-item (click)="togglePanel()" fxLayout="column" fxLayoutAlign="end end"> <i class="fal fa-chevron-double-down"></i></mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <mat-accordion [multi]="true">
    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          DESIGN KPIs
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="overview-container">
        <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>CURRENT DESIGN PHASE</mat-card-title>
            <mat-card-content>
              <h2>50% DD</h2>
              <p>65% Completed</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>UPCOMING MILESTONE</mat-card-title>
            <mat-card-content>
              <h2>100% DD SUBMISSION</h2>
              <p>in 55 days</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>CURRENT PHASE PROGRESS</mat-card-title>
            <mat-card-content>
              <h2>35% COMPLETE</h2>
              <p>50% Design Development</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>BASELINE DESIGN BUDGET</mat-card-title>
            <mat-card-content>
              <h2>$2,644,010</h2>
              <p>February 8, 2020</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>FORECAST DESIGN BUDGET</mat-card-title>
            <mat-card-content>
              <h2>$2,644,010</h2>
              <p>April 22, 2020</p>
            </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          DESIGN MANAGEMENT
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="dashboard-container" >

        <mat-card class="card-square-md">
          <mat-card-title>DESIGN PROGRESS</mat-card-title>
            <mat-card-content>
              <div echarts [options]="salesChartBar" [autoResize]="true" style="height: 235px;"></div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-square-md">
          <mat-card-title>DESIGN TASK SUMMARY</mat-card-title>
            <mat-card-content>
              <p>My Tasks</p>
              <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 235px;"></div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-wide">
          <mat-card-title>DESIGN TIMELINE</mat-card-title>
            <mat-card-content>
                Gantt Chart
            </mat-card-content>
        </mat-card>

        <mat-card class="card-square-md">
          <mat-card-title>UPCOMING MILESTONES</mat-card-title>
            <mat-card-content>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-square-md">
          <mat-card-title>DESIGN RFIs</mat-card-title>
            <mat-card-content >
            </mat-card-content>
        </mat-card>

        <mat-card class="card-square-md">
          <mat-card-title>DESIGN CHANGE SUMMARY</mat-card-title>
            <mat-card-content>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-square-md">
          <mat-card-title>PERMIT PACKAGES</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card class="card-wide">
          <mat-card-title>COMMENT TRACKING</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card class="card-wide">
          <mat-card-title>STAKEHOLDER PRESENTATIONS</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>


      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          CUSTOM WIDGETS
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="overview-container">
        <mat-card class="overview-card">
          <mat-card-title>SIZE</mat-card-title>
            <mat-card-content>
              <h2>558,850 GSF</h2>
            </mat-card-content>
        </mat-card>
          <mat-card class="card-wide">
            <mat-card-title>ACTUAL VS BUDGET</mat-card-title>
              <mat-card-content>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </mat-card-content>
          </mat-card>
          <mat-card class="overview-card">
            <mat-card-title>PROJECT COSTS JTD</mat-card-title>
              <mat-card-content>
                <h2>$2,644,010</h2>
                22% of Total Budget
              </mat-card-content>
          </mat-card>
          <mat-card class="overview-card">
            <mat-card-title>PROJECT COSTS JTD</mat-card-title>
              <mat-card-content>
                <h2>$2,644,010</h2>
                22% of Total Budget
              </mat-card-content>
          </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


