<mat-toolbar color="primary" style="min-height: 300px;" fxLayout="column wrap" fxLayoutAlign="start start">
  <div class="footer-column" fxLayoutAlign="start start">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/logos%2Flogo_white.png?alt=media&token=17575294-728f-4e36-a6d4-84a8c5748d0d"
      height="180px" />
  </div>
  <div class="footer-column" fxLayoutAlign="start start">
    <div fxLayout="row">
      <mat-nav-list>
        <mat-list-item routerLink="/about" routerLinkActive="active">About</mat-list-item>
        <mat-list-item routerLink="/blog" routerLinkActive="active">Blog</mat-list-item>
        <mat-list-item routerLink="/careers" routerLinkActive="active">Careers</mat-list-item>
      </mat-nav-list>
      <mat-nav-list>
        <mat-list-item routerLink="/contact" routerLinkActive="active">Contact</mat-list-item>
        <mat-list-item onClick="window.open('//support.moodlio.com')"> Support </mat-list-item>
        <mat-list-item onClick="window.open('//docs.moodlio.com')"> Documentation </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <div class="footer-column">
    <p>Sutro Analytics, LLC</p>
    <p>San Francisco, CA</p>
    <a href="mailto:success@moodlio.com" style="color: white; text-decoration-line: none;">
      <p>success@moodlio.com</p>
    </a>
    <p>(415) 684-1900</p>
  </div>

  <div class="footer-column">
    <div fxLayout="row">
      <i onClick="window.open('//www.facebook.com/moodlio')" class="fab fa-facebook fa-2x"
        style="color: white;cursor: pointer;"></i>
      <div class="icon-span"></div>
      <i onClick="window.open('//www.twitter.com/moodlio')" class="fab fa-twitter fa-2x"
        style="color: white;cursor: pointer;"></i>
      <div class="icon-span"></div>
      <i onClick="window.open('//www.instagram.com/moodlio')" class="fab fa-instagram fa-2x"
        style="color: white;cursor: pointer;"></i>
      <div class="icon-span"></div>
      <i onClick="window.open('//www.linkedin.com/moodlio')" class="fab fa-linkedin fa-2x"
        style="color: white;cursor: pointer;"></i>
    </div>
  </div>

</mat-toolbar>

<div class="copyright-container" fxLayoutAlign="start center">
  <h5 style="font-weight: lighter;font-size: x-small;"> © 2020 Sutro Analytics, LLC. All Rights Reserved.</h5>
</div>
