<div class="page-container">
  <h2>FEATURES</h2>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item>Advanced MEP Assemblies</mat-list-item>
    <mat-list-item>Variance Reporting</mat-list-item>
    <mat-list-item>Automated Qualifications</mat-list-item>
    <mat-list-item>Modern Analytics Suite</mat-list-item>
    <mat-list-item>Client Data Engagement</mat-list-item>
    <mat-list-item>Supplier-Sync™ Vendor Pricing</mat-list-item>
    <mat-list-item>Trade-Sync™ Labor Rates & Productivities</mat-list-item>
    <mat-list-item>Graphic Live Takeoff</mat-list-item>
    <mat-list-item>Collaborative Estimating</mat-list-item>
    <mat-list-item>Live Cost Extension</mat-list-item>
    <mat-list-item>Client Engagement Portal</mat-list-item>
  </mat-list>
</div>
