<div class="features-section" fxLayoutAlign="center center" fxLayout="column">
  <h2 style="font-size: 22px;">FEATURES</h2>
  <mat-tab-group mat-align-tabs="center" style="width: 90vw; min-height: 580px;color: white;">
    <mat-tab label="Advanced MEP Assemblies" style="color: white;">Advanced MEP Assemblies</mat-tab>
    <mat-tab label="Variance Reporting" style="color: white;">Variance Reporting</mat-tab>
    <mat-tab label="Automated Qualifications" style="color: white;">Automated Qualifications</mat-tab>
    <mat-tab label="Client Data Engagement" style="color: white;">Client Data Engagement</mat-tab>
    <mat-tab label="Supplier-Sync™ Vendor Pricing" style="color: white;">Supplier-Sync™ Vendor Pricing</mat-tab>
    <mat-tab label="Collaborative Takeoff" style="color: white;">Collaborative Takeoff</mat-tab>
    <mat-tab label="Live Cost Extension" style="color: white;">Live Cost Extension</mat-tab>
    <mat-tab label="Modern Analytics Suite" style="color: white;">Modern Analytics Suite</mat-tab>
  </mat-tab-group>
</div>
