
.project-grid {
  display: grid;
  gap: 20px;
  padding: 10px;
}

.project-item {
  display: flex;
  height: 120px;
}
img {
  border-radius: 10px;
}
.project-header {
  display: flex;
  width: 100%;
}
.mat-card {
  display: flex;
  background: transparent;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
  border-radius: 12px;
}

.mat-card:hover {
  box-shadow: 1.5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.mat-card-content {
  font-size: x-small;
}
.mat-card-title {
  max-height: 15px;
  overflow: hidden;
}

.mat-card-title {
  font-size: small;
  font-weight: bold;
}
.project-details{
  padding: 5px;
  margin-left: 15px;
}
.project-item:hover {
  background-color: #324ad365;
  cursor: pointer;
}

p {
  font-size: small;
  margin: 0px;
  padding: 0px;
  height: 18px;
}