<mat-list>
  <form>
    
  </form>
  <mat-list-item>Feeder Raceway</mat-list-item>
  <mat-list-item>Home-Run Raceway</mat-list-item>
  <mat-list-item>Power Branch Raceway</mat-list-item>
  <mat-list-item>Lighting Branch Raceway</mat-list-item>
  <mat-list-item>Underground Conduit</mat-list-item>
  <mat-list-item>Conduit Fittings</mat-list-item>
  <mat-list-item>Equipment Busway</mat-list-item>
  <mat-list-item>Feeder Conductors</mat-list-item>
  <mat-list-item>% of Feeders Underground</mat-list-item>
  <mat-list-item>Acoustic/Sound Masking Requirements</mat-list-item>
  <mat-list-item>Egress Lighting Backup Method (UPS/Inverter/Genset/Battery)</mat-list-item>

  <mat-list-item>Power Monitoring Requirements</mat-list-item>

  <mat-list-item>SCADA</mat-list-item>
  <mat-list-item>Standard Metering Required</mat-list-item>

  <mat-list-item>Tenant Metering Required</mat-list-item>
  <mat-list-item>HVAC Controls Condutis</mat-list-item>

  <mat-list-item>VFD Installation</mat-list-item>

  <mat-list-item>Testing Requirements</mat-list-item>

  <mat-list-item>OSHPD Classification</mat-list-item>

  <mat-list-item>Clean Room Requirements</mat-list-item>

  <mat-list-item>Min T-Rod Size</mat-list-item>

  <mat-list-item>Specification Condition (Contractor friendly, stringent, etc)</mat-list-item>
  <mat-list-item>LEED Targeting</mat-list-item>

  <mat-list-item>Seismic Engineering</mat-list-item>
  <mat-list-item>Lightning Controls</mat-list-item>
  <mat-list-item>Debris Boxes</mat-list-item>
  <mat-list-item>Fire Seal performed by</mat-list-item>
  <mat-list-item>Lighting Controls (networked, wireless, standalone, line-voltage)</mat-list-item>
  <mat-list-item>UPS Requirements</mat-list-item>
</mat-list>
