<div class="dashboard-container">

  <mat-card class="card-tall">

    <mat-card-header>
      <mat-card-title>
        Cost Modeling
      </mat-card-title>
      <mat-card-subtitle>
        1 Seat
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
  </mat-card>

  <mat-card class="card-tall">
    <mat-card-header>
      <mat-card-title>
        Estimating
      </mat-card-title>
      <mat-card-subtitle>
        5+ Seats
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-footer>
      Footer
    </mat-card-footer>
  </mat-card>

  <mat-card class="card-tall">
    <mat-card-header>
      <mat-card-title>
        Trade Labor Rates
      </mat-card-title>
      <mat-card-subtitle>
        5+ Seats
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-footer>
      Footer
    </mat-card-footer>
  </mat-card>

  <mat-card class="card-tall">
    <mat-card-header>
      <mat-card-title>
        Change Orders
      </mat-card-title>
      <mat-card-subtitle>
        5+ Seats
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-footer>
      Footer
    </mat-card-footer>
  </mat-card>

  <mat-card class="card-tall">
    <mat-card-header>
      <mat-card-title>
        Cost Repository
      </mat-card-title>
      <mat-card-subtitle>
        20+ Seats
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Content
    </mat-card-content>
    <mat-card-footer>
      Footer
    </mat-card-footer>
  </mat-card>
</div>
