<mat-toolbar color="accent" class="admin-navbar" fxLayout="row" fxLayoutAlign="start center">
  <div class="brand-container" fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 5px;">
    <mat-nav-list fxLayout="row" fxLayoutAlign="center center">
      <mat-list-item routerLink='/team'>
        <i class="fas fa-exchange"></i>
      </mat-list-item>
      <mat-list-item routerLink='/admin' fxLayoutAlign="center center">
        <h1>ADMIN PORTAL</h1>
      </mat-list-item>
    </mat-nav-list>
  </div>
</mat-toolbar>
