<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      GETTING STARTED
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item routerLink="/quick-start">Quick Start</mat-list-item>
      <mat-list-item routerLink="/account">Account Management</mat-list-item>
      <mat-list-item routerLink="/download">Download for Desktop</mat-list-item>
      <mat-list-item routerLink="/quick-start">Download for Mobile</mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      ESTIMATING
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Estimating</mat-list-item>
      <mat-list-item>Cost Modeling</mat-list-item>
      <mat-list-item>Analytics</mat-list-item>
      <mat-list-item>Reporting</mat-list-item>

      <mat-list-item></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      COST MODELING
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Estimating</mat-list-item>
      <mat-list-item>Cost Modeling</mat-list-item>
      <mat-list-item>Analytics</mat-list-item>
      <mat-list-item>Reporting</mat-list-item>

      <mat-list-item></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      ANALYTICS
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Estimating</mat-list-item>
      <mat-list-item>Cost Modeling</mat-list-item>
      <mat-list-item>Analytics</mat-list-item>
      <mat-list-item>Reporting</mat-list-item>

      <mat-list-item></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      REPORTING
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Estimating</mat-list-item>
      <mat-list-item>Cost Modeling</mat-list-item>
      <mat-list-item>Analytics</mat-list-item>
      <mat-list-item>Reporting</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      MODULES
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Estimating</mat-list-item>
      <mat-list-item>Cost Modeling</mat-list-item>
      <mat-list-item>Analytics</mat-list-item>
      <mat-list-item>Reporting</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      RESOURCES
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Support Portal</mat-list-item>
      <mat-list-item>Find Your Account Rep</mat-list-item>
      <mat-list-item>Contact Sales</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      MOBILE
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Activation</mat-list-item>
      <mat-list-item>Cost Modeling</mat-list-item>
      <mat-list-item></mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
