@charset 'utf-8';
@import '~@angular/material/theming';
@include mat-core();

@import "animations/animations.scss";
@import "components/components.scss";
@import "layouts/layouts.scss";
@import "theme/theme.scss";
@import "vendor/vendor.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-blue-grey, 900);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-warn:    mat-palette($mat-red, 900);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);


html, body { height: 100%;  width: 100%;}
body { margin: 0;  padding: 0; }