<mat-card-title>ACTIVE TEAM MEMBERS</mat-card-title>
<div fxLayout="row">
  <div class="avatar-item">
    <button mat-icon-button matTooltip="Max Geller">
      <img class="team-avatar"
        src="https://www.maxim.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3NTY1MTExOTcwNTcyMTcx/rambo-first-blood-part-ii-stallone.jpg"
        width="50px" height="50px">
    </button>
  </div>
  <div class="avatar-item">
    <button mat-icon-button matTooltip="Kris Kyle">
      <img class="team-avatar"
        src="https://media1.popsugar-assets.com/files/thumbor/zpzsOsdUEptenTm_qy6IUBOroto/0x0:1660x1660/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/10/29/927/n/44701584/0fd997f65db8abf1796548.77940914_/i/short-funny-pet-videos.png"
        width="50px" height="50px">
    </button>
  </div>
</div>
