<div class="page-layout" fxLayout="column">
  <h1>USER ANALYTICS</h1>
  <mat-divider style="margin-bottom: 0px !important;"></mat-divider>
  <div class="actions-container">
    <button mat-raised-button class="action-button" color="primary" routerLink='/admin/dashboard'>Back</button>
    <button mat-raised-button class="action-button" routerLink='/admin/tenants'>Manage Tenants</button>
    <button mat-raised-button class="action-button" routerLink='/admin/roles'>Roles & Permissions</button>
    <button mat-raised-button class="action-button" routerLink='/admin/settings'>Settings</button>
  </div>
  <mat-divider></mat-divider>
  <p>user-analytics works!</p>
</div>