<div class="page-layout" fxLayout="column">
  <h1>ADMIN DASHBOARD</h1>
  <mat-divider style="margin-bottom: 10 !important;"></mat-divider>
  <mat-accordion class="menu-accordion">
    <mat-expansion-panel [expanded]=true>
      <mat-expansion-panel-header>
        APPLICATION PERFORMANCE
      </mat-expansion-panel-header>

      <div class="status-container">
        <mat-card class="status-card">
          <mat-card-title><i class="fad fa-circle" style="color: green;"></i>&nbsp;ESTIBASE LANDING</mat-card-title>
          <mat-card-subtitle>
            www.moodlio.com
          </mat-card-subtitle>
          <mat-card-content fxLayout="column" fxLayoutAlign="start center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fpreviews%2Finvestors-preview.PNG?alt=media&token=239b6e03-25d9-4917-a8d3-7ee0a2e61bb5"
              onClick="window.open('https://moodlio.com')" style="cursor: pointer;" width="150px">
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" fxFlexFill>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Upload: 28Mb/s</p>
                <p>Download: 62Mb/s</p>
                <p>Version: 0.80.2</p>
              </div>
              <span style="width: 15px;"></span>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Release: 1.00</p>
                <p>Monthly Traffic: 1,840</p>
                <p>Conversion Rate: 5.4%</p>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 5px;">
              <i onClick="window.open('https://github.com/max-geller/Moodl.io')" class="fab fa-github fa-2x"
                style="cursor: pointer;"></i>
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 8px;">
                <p style="line-height: 10px;">Last Commit:</p>
                <p> 08/03/2020 @ 6:39PM PST</p>
              </div>
            </div>
            <img src="https://api.netlify.com/api/v1/badges/29ab9518-4ccc-4e26-a22a-bd62887059a5/deploy-status"
              onClick="window.open('https://app.netlify.com/sites/moodlio/overview')" style="cursor: pointer;"
              height="20px">
          </mat-card-content>
        </mat-card>

        <mat-card class="status-card">
          <mat-card-title><i class="fad fa-circle" style="color: green;"></i>&nbsp;WEB APPLICATION</mat-card-title>
          <mat-card-subtitle>
            web.moodlio.com
          </mat-card-subtitle>
          <mat-card-content fxLayout="column" fxLayoutAlign="start center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fpreviews%2Fweb-preview.PNG?alt=media&token=cc9cfa17-c1f5-49c6-b67e-804543d69de5"
              onClick="window.open('https://web.moodlio.com')" style="cursor: pointer;" width="150px">
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" fxFlexFill>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Upload: 28Mb/s</p>
                <p>Download: 62Mb/s</p>
                <p>Version: 0.80.2</p>
              </div>
              <span style="width: 15px;"></span>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Release: 1.00</p>
                <p>Monthly Traffic: 1,840</p>
                <p>Conversion Rate: 5.4%</p>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 5px;">
              <i onClick="window.open('https://github.com/max-geller/Moodl.io')" class="fab fa-github fa-2x"
                style="cursor: pointer;"></i>
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 8px;">
                <p style="line-height: 10px;">Last Commit:</p>
                <p> 08/03/2020 @ 6:39PM PST</p>
              </div>
            </div>
            <img src="https://api.netlify.com/api/v1/badges/9a28447e-93ed-410c-8c07-c87ccf10878d/deploy-status"
              onClick="window.open('https://app.netlify.com/sites/moodlio/overview')" style="cursor: pointer;"
              height="20px">
          </mat-card-content>
        </mat-card>

        <mat-card class="status-card">
          <mat-card-title><i class="fad fa-circle" style="color: green;"></i>&nbsp;MOBILE APPLICATION</mat-card-title>
          <mat-card-subtitle>
            mobile.moodlio.com
          </mat-card-subtitle>
          <mat-card-content fxLayout="column" fxLayoutAlign="start center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fpreviews%2Flanding-preview.PNG?alt=media&token=1c919426-263d-49c5-967b-61b0efd52c2f"
              onClick="window.open('https://m.moodlio.com')" style="cursor: pointer;" width="150px">
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" fxFlexFill>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Upload: 28Mb/s</p>
                <p>Download: 62Mb/s</p>
                <p>Version: 0.80.2</p>
              </div>
              <span style="width: 15px;"></span>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Release: 1.00</p>
                <p>Monthly Traffic: 1,840</p>
                <p>Conversion Rate: 5.4%</p>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 5px;">
              <i onClick="window.open('https://github.com/max-geller/Moodl.io')" class="fab fa-github fa-2x"
                style="cursor: pointer;"></i>
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 8px;">
                <p style="line-height: 10px;">Last Commit:</p>
                <p> 08/03/2020 @ 6:39PM PST</p>
              </div>
            </div>
            <img src="https://api.netlify.com/api/v1/badges/9f9142bb-3b55-4945-ba66-db519460d95e/deploy-status"
              onClick="window.open('https://app.netlify.com/sites/moodlio/overview')" style="cursor: pointer;"
              height="20px">
          </mat-card-content>
        </mat-card>

        <mat-card class="status-card">
          <mat-card-title><i class="fad fa-circle" style="color: green;"></i>&nbsp;DOCUMENTATION SERVER</mat-card-title>
          <mat-card-subtitle>
            docs.moodlio.com
          </mat-card-subtitle>
          <mat-card-content fxLayout="column" fxLayoutAlign="start center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fpreviews%2Fdocs-preview.PNG?alt=media&token=535d710c-33ea-443c-a812-e890001c328c"
              onClick="window.open('https://docs.moodlio.com')" style="cursor: pointer;" width="150px">
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" fxFlexFill>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Upload: 28Mb/s</p>
                <p>Download: 62Mb/s</p>
                <p>Version: 0.80.2</p>
              </div>
              <span style="width: 15px;"></span>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Release: 1.00</p>
                <p>Monthly Traffic: 1,840</p>
                <p>Conversion Rate: 5.4%</p>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 5px;">
              <i onClick="window.open('https://github.com/max-geller/Moodl.io')" class="fab fa-github fa-2x"
                style="cursor: pointer;"></i>
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 8px;">
                <p style="line-height: 10px;">Last Commit:</p>
                <p> 08/03/2020 @ 6:39PM PST</p>
              </div>
            </div>
            <img src="https://api.netlify.com/api/v1/badges/779207bd-564d-49df-bb89-58c20666bfe4/deploy-status"
              onClick="window.open('https://app.netlify.com/sites/moodlio/overview')" style="cursor: pointer;"
              height="20px">
          </mat-card-content>
        </mat-card>

        <mat-card class="status-card">
          <mat-card-title><i class="fad fa-circle" style="color: green;"></i>&nbsp;SUPPORT HUB</mat-card-title>
          <mat-card-subtitle>
            support.moodlio.com
          </mat-card-subtitle>
          <mat-card-content fxLayout="column" fxLayoutAlign="start center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fpreviews%2Fsupport-preview.PNG?alt=media&token=d9dafd2f-0fe8-4a89-9e83-384d4a5cdc01"
              onClick="window.open('https://support.moodlio.com')" style="cursor: pointer;" width="150px">
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" fxFlexFill>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Upload: 28Mb/s</p>
                <p>Download: 62Mb/s</p>
                <p>Version: 0.80.2</p>
              </div>
              <span style="width: 15px;"></span>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Release: 1.00</p>
                <p>Monthly Traffic: 1,840</p>
                <p>Conversion Rate: 5.4%</p>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 5px;">
              <i onClick="window.open('https://github.com/max-geller/Moodl.io')" class="fab fa-github fa-2x"
                style="cursor: pointer;"></i>
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 8px;">
                <p style="line-height: 10px;">Last Commit:</p>
                <p> 08/03/2020 @ 6:39PM PST</p>
              </div>
            </div>
            <img src="https://api.netlify.com/api/v1/badges/d9fb09ce-dc97-4f48-94e7-38dce523ec63/deploy-status"
              onClick="window.open('https://app.netlify.com/sites/moodlio/overview')" style="cursor: pointer;"
              height="20px">
          </mat-card-content>
        </mat-card>

        <mat-card class="status-card">
          <mat-card-title><i class="fad fa-circle" style="color: green;"></i>&nbsp;SALES & CRM</mat-card-title>
          <mat-card-subtitle>
            sales.moodlio.com
          </mat-card-subtitle>
          <mat-card-content fxLayout="column" fxLayoutAlign="start center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fpreviews%2Fweb-preview.PNG?alt=media&token=cc9cfa17-c1f5-49c6-b67e-804543d69de5"
              onClick="window.open('https://sales.moodlio.com')" style="cursor: pointer;" width="150px">
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" fxFlexFill>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Upload: 28Mb/s</p>
                <p>Download: 62Mb/s</p>
                <p>Version: 0.80.2</p>
              </div>
              <span style="width: 15px;"></span>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Release: 1.00</p>
                <p>Monthly Traffic: 1,840</p>
                <p>Conversion Rate: 5.4%</p>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 5px;">
              <i onClick="window.open('https://github.com/max-geller/Moodl.io')" class="fab fa-github fa-2x"
                style="cursor: pointer;"></i>
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 8px;">
                <p style="line-height: 10px;">Last Commit:</p>
                <p> 08/03/2020 @ 6:39PM PST</p>
              </div>
            </div>
            <img src="https://api.netlify.com/api/v1/badges/4a001d9f-8ff6-47aa-9154-4341b413c326/deploy-status"
              onClick="window.open('https://app.netlify.com/sites/moodlio/overview')" style="cursor: pointer;"
              height="20px">
          </mat-card-content>
        </mat-card>

        <mat-card class="status-card">
          <mat-card-title><i class="fad fa-circle" style="color: green;"></i>&nbsp;LEARNING CENTER</mat-card-title>
          <mat-card-subtitle>
            learning.moodlio.com
          </mat-card-subtitle>
          <mat-card-content fxLayout="column" fxLayoutAlign="start center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fpreviews%2Fweb-preview.PNG?alt=media&token=cc9cfa17-c1f5-49c6-b67e-804543d69de5"
              onClick="window.open('https://learning.moodlio.com')" style="cursor: pointer;" width="150px">
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" fxFlexFill>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Upload: 28Mb/s</p>
                <p>Download: 62Mb/s</p>
                <p>Version: 0.80.2</p>
              </div>
              <span style="width: 15px;"></span>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Release: 1.00</p>
                <p>Monthly Traffic: 1,840</p>
                <p>Conversion Rate: 5.4%</p>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 5px;">
              <i onClick="window.open('https://github.com/max-geller/Moodl.io')" class="fab fa-github fa-2x"
                style="cursor: pointer;"></i>
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 8px;">
                <p style="line-height: 10px;">Last Commit:</p>
                <p> 08/03/2020 @ 6:39PM PST</p>
              </div>
            </div>
            <img src="https://api.netlify.com/api/v1/badges/28b3ca25-b967-493d-b908-56daa2619cf5/deploy-status"
              onClick="window.open('https://app.netlify.com/sites/moodlio/overview')" style="cursor: pointer;"
              height="20px">
          </mat-card-content>
        </mat-card>

        <mat-card class="status-card">
          <mat-card-title><i class="fad fa-circle" style="color: green;"></i>&nbsp;DEVELOPER PORTAL</mat-card-title>
          <mat-card-subtitle>
            developers.moodlio.com
          </mat-card-subtitle>
          <mat-card-content fxLayout="column" fxLayoutAlign="start center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fpreviews%2Fcareers-preview.PNG?alt=media&token=a0eaaf70-72c2-4ade-8e74-cbfe286f9d11"
              onClick="window.open('https://developers.moodlio.com')" style="cursor: pointer;" width="150px">
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" fxFlexFill>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Upload: 28Mb/s</p>
                <p>Download: 62Mb/s</p>
                <p>Version: 0.80.2</p>
              </div>
              <span style="width: 15px;"></span>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Release: 1.00</p>
                <p>Monthly Traffic: 1,840</p>
                <p>Conversion Rate: 5.4%</p>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 5px;">
              <i onClick="window.open('https://github.com/max-geller/Moodl.io')" class="fab fa-github fa-2x"
                style="cursor: pointer;"></i>
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 8px;">
                <p style="line-height: 10px;">Last Commit:</p>
                <p> 08/03/2020 @ 6:39PM PST</p>
              </div>
            </div>
            <img src="https://api.netlify.com/api/v1/badges/4fa882e3-4fe5-433c-aac5-17fe4455b55e/deploy-status"
              onClick="window.open('https://app.netlify.com/sites/moodlio/overview')" style="cursor: pointer;"
              height="20px">
          </mat-card-content>
        </mat-card>

        <mat-card class="status-card">
          <mat-card-title><i class="fad fa-circle" style="color: green;"></i>&nbsp;INVESTOR ENGAGEMENT</mat-card-title>
          <mat-card-subtitle>
            investors.moodlio.com
          </mat-card-subtitle>
          <mat-card-content fxLayout="column" fxLayoutAlign="start center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fpreviews%2Finvestors-preview.PNG?alt=media&token=239b6e03-25d9-4917-a8d3-7ee0a2e61bb5"
              onClick="window.open('https://investors.moodlio.com')" style="cursor: pointer;" width="150px">
            <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" fxFlexFill>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Upload: 28Mb/s</p>
                <p>Download: 62Mb/s</p>
                <p>Version: 0.80.2</p>
              </div>
              <span style="width: 15px;"></span>
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <p>Release: 1.00</p>
                <p>Monthly Traffic: 1,840</p>
                <p>Conversion Rate: 5.4%</p>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 5px;">
              <i onClick="window.open('https://github.com/max-geller/Moodl.io')" class="fab fa-github fa-2x"
                style="cursor: pointer;"></i>
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 8px;">
                <p style="line-height: 10px;">Last Commit:</p>
                <p> 08/03/2020 @ 6:39PM PST</p>
              </div>
            </div>
            <img src="https://api.netlify.com/api/v1/badges/0686edd1-8cf2-4786-ba87-40f6ba723385/deploy-status"
              onClick="window.open('https://app.netlify.com/sites/moodlio/overview')" style="cursor: pointer;"
              height="20px">
          </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
        USER MANAGEMENT
      </mat-expansion-panel-header>

      <div class="dashboard-container">

        <mat-card class="card-tall">
          <mat-card-title>TENANT ACTIVITY LOG</mat-card-title>
          <admin-user-activity></admin-user-activity>
        </mat-card>


        <mat-card class="card-wide">
          <mat-card-title>ROLES & PERMISSIONS</mat-card-title>
        </mat-card>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
        TENANT MANAGEMENT
      </mat-expansion-panel-header>
      <div class="dashboard-container">
        <mat-card class="card-tall">
          <mat-card-title>TENANT ACTIVITY LOG</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>GOOGLE ADWORDS</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>Here's a title</mat-card-title>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
        ISSUES & SUPPORT &nbsp; <span class="accordion-badge">12</span>
      </mat-expansion-panel-header>
      <div class="dashboard-container">
        <mat-card class="card-tall">
          <mat-card-title>SUPPORT TICKETS</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>BUGS/ISSUES</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>BACKLOG</mat-card-title>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
        DEVOPS
      </mat-expansion-panel-header>
      <div class="dashboard-container">
        <mat-card class="card-tall">
          <mat-card-title>SPRINTS</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>BACKLOG</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>PERFORMANCE</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>DEVELOPER JOURNAL</mat-card-title>
        </mat-card>
        <button mat-raised-button color="primary">New Release</button>
        <button mat-raised-button color="primary">New Build</button>
        <button mat-raised-button color="primary">Deployment Log</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
        BILLING & PAYMENTS
      </mat-expansion-panel-header>

      <div class="dashboard-container">
        <mat-card class="card-tall">
          <mat-card-title>TENANT ACTIVITY LOG</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>GOOGLE ADWORDS</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>Here's a title</mat-card-title>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
        ADVERTISING / CMS
      </mat-expansion-panel-header>
      <div class="dashboard-container">
        <mat-card class="card-tall">
          <mat-card-title>LANDING PAGE MEDIA</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>UPSELL PREFERENCES</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>EMAIL TEMPLATES</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>GOOGLE ADWORDS</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>LOGOS & BRAND ASSETS</mat-card-title>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
        SALES / CRM
      </mat-expansion-panel-header>

      <div class="dashboard-container">

        <mat-card class="card-tall">
          <mat-card-title>TOP ACCOUNTS</mat-card-title>
        </mat-card>
        <mat-card class="card-wide">
          <mat-card-title>PIPELINE SNAPSHOT</mat-card-title>
        </mat-card>

        <mat-card class="card-wide">
          <mat-card-title>CHURN RATE</mat-card-title>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


</div>
