<div class="page-layout" fxLayout="column">
  <h1>MANAGE TENANTS</h1>
  <mat-divider style="margin-bottom: 0px !important;"></mat-divider>
  <div class="actions-container">
    <button mat-raised-button class="action-button" color="primary" routerLink='/admin/dashboard'>Back</button>
    <button mat-raised-button class="action-button" color="accent">Seed Fake Tenant</button>
    <button mat-raised-button class="action-button" routerLink='/admin/users'>Manage Users</button>
    <button mat-raised-button class="action-button" routerLink='/admin/subscriptions'>Manage Subscriptions</button>
    <button mat-raised-button class="action-button" routerLink='/admin/clients'>Manage Clients</button>
    <button mat-raised-button class="action-button" routerLink='/admin/roles'>Roles & Permissions</button>
  </div>
  <mat-divider></mat-divider>
  <admin-tenant-list></admin-tenant-list>>
</div>
