<div class="page-layout" fxLayout="column">
  <h1>LABOR RATES</h1>

  <mat-divider style="margin-bottom: 10px;"></mat-divider>

  <div fxLayout="column">
    <mat-form-field class="md-field">
      <mat-label>TRADE</mat-label>
      <mat-select>
        <mat-option>Laborers</mat-option>
        <mat-option>Carpenters</mat-option>
        <mat-option>Plumbers & Steam Fitters</mat-option>
        <mat-option>Sheetmetal Workers</mat-option>
        <mat-option>Inside Wiremen</mat-option>
        <mat-option>Sound & Communication</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="md-field">
      <mat-label>ZIP</mat-label>
      <input matInput>
    </mat-form-field>


  </div>
</div>
