<div class="page-wrapper" fxLayout="column" fxLayoutAlign="start stretch">

        <div class="header-container" fxLayout="row" fxFlex >
          <div class="title-container" fxLayout="column" fxFlex>
            <h3>OVERVIEW</h3> 
          </div>
          <div class="accordion-actions" fxLayout="column" fxLayoutAlign="center center" >
            <mat-nav-list fxLayout="column" >
              <mat-list-item (click)="togglePanel()" fxLayout="column" fxLayoutAlign="end end"> <i class="fal fa-chevron-double-down"></i></mat-list-item>
            </mat-nav-list>
          </div>
        </div>

        <mat-accordion [multi]="true">
          <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                PROJECT KPIs
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="overview-container">
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>PROJECT SIZE</mat-card-title>
                  <mat-card-content>
                    <h2>558,850 GSF</h2>
                    <p>100% Schematic Design</p>
                  </mat-card-content>
              </mat-card>
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>PROJECT COST</mat-card-title>
                  <mat-card-content>
                    <h2>$1,103,585,910</h2>
                    <p>100% SD Estimate</p>
                  </mat-card-content>
              </mat-card>
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>SCHEDULE % COMPLETE</mat-card-title>
                  <mat-card-content>
                    <h2>35%</h2>
                    <p>50% Design Development</p>
                  </mat-card-content>

              </mat-card>
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>CURRENT PHASE % COMPLETE</mat-card-title>
                  <mat-card-content>
                    <h2>$2,644,010</h2>
                    <p>22% of Total Budget</p>
                  </mat-card-content>
              </mat-card>
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>PROJECT COSTS JTD</mat-card-title>
                  <mat-card-content>
                    <h2>$2,644,010</h2>
                    <p>22% of Total Budget</p>
                  </mat-card-content>
              </mat-card>
            </div>

          </mat-expansion-panel>


          <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                PROJECT MANAGEMENT
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="dashboard-container" >
              <mat-card class="card-wide">
                <mat-card-title>ACTUAL VS BUDGET</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="salesChartBar" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>ACTIVE TASKS</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>WORK IN PLACE</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="chartLineOption1" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-wide">
                <mat-card-title>LABOR HOURS</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="chartLineOption3" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>PROJECT MEDIA</mat-card-title>
                  <mat-card-content>
                    <img class="project-map" src="assets/images/projects/media.jpg" height="120%" width="305px" />
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>LOCATION</mat-card-title>
                  <mat-card-content >
                    <img class="project-map" src="assets/images/projects/map.PNG" height="100%" width="310px" />
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>WEATHER</mat-card-title>
                  <mat-card-content>
                    <img class="project-map" src="assets/images/projects/weather.PNG" height="100%" width="310px" />
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>RECENT FILES</mat-card-title>
                  <mat-card-content>
                  </mat-card-content>
              </mat-card>


              <mat-card class="card-wide">
                <mat-card-title>PROJECT TIMELINE</mat-card-title>
                  <mat-card-content>
                    <p>A beautiful Gantt chart goes here</p>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>MY HCI TEAM</mat-card-title>
                  <mat-card-content>
                      <img src="assets/images/people/max.jpg" height="100%" width="70px" />
                      <img src="assets/images/people/butch.jpg" height="100%" width="70px" />
                      <img src="assets/images/people/kris.jpg" height="100%" width="70px" />
                      <img src="assets/images/people/auzja.jpg" height="100%" width="70px" />
                  </mat-card-content>
              </mat-card>

            </div>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                CUSTOM WIDGETS
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="overview-container">
              <mat-card class="overview-card">
                <mat-card-title>SIZE</mat-card-title>
                  <mat-card-content>
                    <h2>558,850 GSF</h2>
                  </mat-card-content>
              </mat-card>
                <mat-card class="card-wide">
                  <mat-card-title>ACTUAL VS BUDGET</mat-card-title>
                    <mat-card-content>
                      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    </mat-card-content>
                </mat-card>
                <mat-card class="overview-card">
                  <mat-card-title>PROJECT COSTS JTD</mat-card-title>
                    <mat-card-content>
                      <h2>$2,644,010</h2>
                      22% of Total Budget
                    </mat-card-content>
                </mat-card>
                <mat-card class="overview-card">
                  <mat-card-title>PROJECT COSTS JTD</mat-card-title>
                    <mat-card-content>
                      <h2>$2,644,010</h2>
                      22% of Total Budget
                    </mat-card-content>
                </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </div>

      <!-- Footer -->

