<div class="hero-container">
  <div class="hero-left" fxLayout="column" fxFlex="50%" fxLayoutAlign="start start">
    <h3>Your Complete MEP Estimating Platform</h3>

    <h4>Overview</h4>
    <p>
      The EstiBase API is a RESTful interface, providing programmatic access to much of the data in the system. It
      provides predictable URLs for accessing resources, and uses built-in HTTP features to receive commands and return
      responses. This makes it easy to communicate with from a wide variety of environments, from command-line utilities
      to gadgets to the browser URL bar itself.
    </p>
    The API accepts JSON or form-encoded content in requests and returns JSON content in all of its responses, including
    errors. Only the UTF-8 character encoding is supported for both requests and responses.

    <p>
      EstiBase is a cloud based pre-construction bidding tool that enables Owners, General Contractors and
      Subcontractors to communicate easily and efficiently throughout the bidding process.
    </p>
    <p>
      Our platform allows you to create a project in minutes, collect and view bids in one centralized location, & store
      all your crucial documents, but best of all our network keeps your contacts up to date, so you don’t have to.
    </p>
    <p>
      Our portfolio of construction management software solutions for today’s MEP contractors and engineers—combined
      with our commitment to innovation and service—has made us an industry leader in over 150 countries. We’ve earned
      the trust of our clients because of our extensive knowledge in specialty trades and expertise in positioning
      technologies.
    </p>

    <p>
      With a proven record of continually developing the art and science of cost-estimating technology, EstiBase serves
      the quantity takeoff and cost estimating needs of building construction clients, large and small, all around the
      globe. Trimble EstiBase serves the complete range of industry niches and customers—from regional single-office
      builders to global general contractors, facility owners, specialty contractors, public/government agencies and
      more.
    </p>
    <p>
      The quality of EstiBase products is matched only by that of our implementation services, technical support and
      training. Our Professional Services Group is there for organizations worldwide to standardize processes and get
      estimating teams up and running fast. Accurate and responsive cost estimating is a strategic component of many of
      our clients, so we make sure our clients know and fully understand how to get the most out of this powerful
      software system.
    </p>
  </div>
  <div class="hero-right" fxLayout="column" fxFlex="50%">
  </div>
</div>
<mat-divider></mat-divider>
