<div class="main-container" fxLayout="row wrap" fxLayoutGap="25px grid" >


  <div class="widget-container" fxLayout="column" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>New Project</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput placeholder="Project Full Name"  >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Project Short Name"  >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Project Number"  >
          </mat-form-field>
        </div>

        <div class="dropdown" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select>
              <option value="wharf">Airport / Terminal</option>
              <option value="golden-gate">High-Rise Residential</option>
              <option value="wharf">Hospital</option>
            </mat-select>
            </mat-form-field>
              <button mat-icon-button><i class="far fa-plus fa-xs"></i></button>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Client</mat-label>
            <mat-select>
              <option value="wharf">San Francisco International Airport</option>
              <option value="golden-gate">Gilead Sciences, Inc.</option>
              <option value="wharf">Facebook, Inc.</option>
            </mat-select>
            </mat-form-field>
              <button mat-icon-button><i class="far fa-plus fa-xs"></i></button>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Campus</mat-label>
            <mat-select>
              <option value="wharf">Terminal 1</option>
              <option value="golden-gate">Terminal 2</option>
              <option value="wharf">Terminal 3</option>
              <option value="wharf">International Terminal</option>
            </mat-select>
            </mat-form-field>
              <button mat-icon-button><i class="far fa-plus fa-xs"></i></button>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Location"  >
          </mat-form-field>
        </div>





      <div>
        <mat-form-field>
        <mat-label>Union Condition</mat-label>
        <mat-select>
          <option value="golden-gate">Union</option>
          <option value="wharf">Non-Union</option>
          <option value="wharf">Unknown</option>
        </mat-select>
        </mat-form-field>
      </div>


        <div>
          <mat-checkbox>LBE Participation</mat-checkbox>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color='primary'>Save</button>
        <button mat-raised-button color='accent' type="submit"  routerLink="/auth/modules/projects" routerLinkActive="active" class="pointer">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>



  <div class="widget-container" fxLayout="column" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tags</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <mat-chip-list>
        <mat-chip>Airport</mat-chip>
        <mat-chip>Union</mat-chip>
        <mat-chip>LBE</mat-chip>
        <mat-chip>LEED Gold</mat-chip>
        <mat-chip><button mat-icon-button><i class="far fa-plus fa-xs"></i></button></mat-chip>

      </mat-chip-list>

      </mat-card-content>



      <mat-card-actions>
        <button mat-raised-button color='primary'>Save</button>
        <button mat-raised-button color='accent' type="submit"  routerLink="/auth/modules/projects" routerLinkActive="active" class="pointer">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
