<div class="page-container">
  <div class="back-button" fxLayout="row" fxLayoutAlign="start center"
    style="cursor: pointer;padding:15px;width: max-content;" routerLink='/home' routerLinkActive>
    <i style="color: rgb(11, 59, 59);" class="fas fa-chevron-circle-left fa-2x"></i>
    <h5 style="color: rgb(11, 59, 59); margin-left: 8px;">BACK</h5>
  </div>
  <h2>INVESTORS</h2>
  <mat-divider></mat-divider>

  <h3>PRODUCT</h3>
  <h4>Overview</h4>


  <h4>Platform</h4>
  <mat-list>
    <mat-list-item>Web Application</mat-list-item>
    <mat-list-item>Mobile Application</mat-list-item>
    <mat-list-item>Support Portal</mat-list-item>
    <mat-list-item>Documentation</mat-list-item>
    <mat-list-item>Sales & CRM</mat-list-item>
  </mat-list>

  <h4>Development Roadmap</h4>
  <p>
    Initial Product Demo: Q4 2020
    Minimum Viable Product: Q3 2021
  </p>
  <p>
    Minimum Viable Product: Q3 2021
  </p>

  <h4>Funding Stage</h4>

  <h3>CONTACT</h3>
</div>
