<div class="page-container">
  <h1>QUICK START</h1>
  <mat-divider></mat-divider>
  <h3>How to Start Using EstiBase</h3>
  <h3>Getting Started with a Free Trial</h3>
  <h3>Create Your First Project</h3>
  <h3>Create, Respond, and Assign Tasks</h3>


  <h4>SKIP TO SECTION</h4>
  <mat-list>
    <mat-list-item>Quick start demo</mat-list-item>
    <mat-list-item>Tips for tasks</mat-list-item>
    <mat-list-item>Create your first project</mat-list-item>
    <mat-list-item>Organize your project</mat-list-item>
    <mat-list-item>Managing your work</mat-list-item>
    <mat-list-item>How EstiBase is organized</mat-list-item>
    <mat-list-item>More resources</mat-list-item>
  </mat-list>

  <h4>LEARN THE BASICS</h4>
  <mat-list>
    <mat-list-item>How to start using EstiBase</mat-list-item>
    <mat-list-item> Getting started with a trial</mat-list-item>
    <mat-list-item>Create, assign, and respond to tasks</mat-list-item>
    <mat-list-item>Create your first project</mat-list-item>
    <mat-list-item>How to start with Asana’s mobile app</mat-list-item>
  </mat-list>

  <h4> START COLLABORATING</h4>
  <mat-list>
    <mat-list-item>Invite a few teammates</mat-list-item>
    <mat-list-item>Check and manage notifications with Inbox</mat-list-item>
    <mat-list-item>Manage and prioritize tasks</mat-list-item>
    <mat-list-item>Add and manage more projects</mat-list-item>
    <mat-list-item>All EstiBase features</mat-list-item>
    <mat-list-item></mat-list-item>
    <mat-list-item></mat-list-item>
  </mat-list>
</div>
