<div class="modal-layout" fxLayout="column">
  <h3>EDIT ROLE</h3>
  <mat-divider></mat-divider>

  <div class="modal-container">
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Desecription</mat-label>
        <input matInput>
      </mat-form-field>


    </form>
    <mat-dialog-actions>
      <button class="mat-raised-button" color="primary" (click)="close()">Save</button>
      <button class="mat-raised-button" (click)="close()">Cancel</button>
    </mat-dialog-actions>
  </div>
</div>
