<div class="context-header" fxFill fxLayout="row wrap" fxLayoutAlign="space-between end">
  <div class="header-title" fxLayout="column" fxFlex="20">
      <h3>STRUCTURAL PROPERTIES</h3>
  </div>

</div>
<mat-divider></mat-divider>


<mat-list>
  <mat-list-item>Site Area</mat-list-item>
  <mat-list-item>Building Area</mat-list-item>
  <mat-list-item># Floors Above Grade</mat-list-item>

  <mat-list-item># Floors Below Grade</mat-list-item>

  <mat-list-item>Building Height</mat-list-item>

  <mat-list-item>Structural Framing</mat-list-item>
  <mat-list-item>Interior Framing</mat-list-item>

  <mat-list-item># Floors Above Grade</mat-list-item>
  <mat-list-item># Floors Above Grade</mat-list-item>

</mat-list>
<form>
    
</form>