<div class="page-container">
  <div class="back-button" fxLayout="row" fxLayoutAlign="start center"
    style="cursor: pointer;padding:15px;width: max-content;" routerLink='/home' routerLinkActive>
    <i style="color: rgb(11, 59, 59);" class="fas fa-chevron-circle-left fa-2x"></i>
    <h5 style="color: rgb(11, 59, 59); margin-left: 8px;">BACK</h5>
  </div>
  <h2>FEATURES</h2>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item>Advanced MEP Assemblies</mat-list-item>
    <mat-list-item>Variance Reporting</mat-list-item>
    <mat-list-item>Automated Qualifications</mat-list-item>
    <mat-list-item>Modern Analytics Suite</mat-list-item>
    <mat-list-item>Client Data Engagement</mat-list-item>
    <mat-list-item>Supplier-Sync™ Vendor Pricing</mat-list-item>
    <mat-list-item>Trade-Sync™ Labor Rates & Productivities</mat-list-item>
    <mat-list-item>Graphic Live Takeoff</mat-list-item>
    <mat-list-item>Collaborative Estimating</mat-list-item>
    <mat-list-item>Live Cost Extension</mat-list-item>
    <mat-list-item>Client Engagement Portal</mat-list-item>
  </mat-list>

  <h4>Construction Takeoff, Estimating, Audit Trails and Reporting</h4>
  <p>
    Users can set-up a new project estimate from scratch, or with a project-type template to ensure that no scope is
    missed and that corporate standards for general conditions and indirect costs are followed.
    Quantity takeoff with systems for paper plans, electronic drawings, and even an interface with On Center’s Onscreen
    Takeoff. The estimator can quickly modify labor-productivity factors so that, along with the quantities, they can
    calculate hours for crews and the labor total.
  </p>
  <p>
    The database structure allows tracking of a complete audit trail for every change to the estimate. Estimators have
    the option to apply alerts to a line item describing an assumption or a follow-up question for clarification. The
    entire estimate can be filtered to make a final review of the alerts and choose whether or not to include the audit
    trail in a report option.
  </p>

  <h4>Using Enterprise Data Manager</h4>
  <p>
    Enterprise Data Manager was designed as a file-based system at the request of customers to store a project tree of
    active estimate versions, as well as the company’s standard estimating templates for various project types. You can
    also attach any related documents, drawings or comments to the versions. These versions can reflect the evolving
    estimate as it moves from budgeting to 50% and 80% drawings and then to the final version.
  </p>

  <h4> Using Enterprise Data Manager</h4>
  <p>
    A file-based system to store a project tree of active estimate versions and standard estimating templates for
    various project types. You can attach any related documents, drawings or comments to the versions and each version
    can reflect the evolving estimate as it moves from budgeting to 50% and 80% drawings and then to the final version.
  </p>

  <h4> Interface with On Center’s On-Screen Takeoff</h4>
  <p>
    Many Moodl.io users also use On Center’s On-Screen Takeoff for drawings. With a split-screen interface, the
    construction estimator can link the On-Screen quantification directly to the Moodl.io quantities and save the changes
    to the estimate. The built-in audit trail records the quantity source as On Center, so everyone knows the source.
    Additionally, when plans new quantities can be updated quickly with a red and green color scheme in both the On
    Center screen and Moodl.io screens.
  </p>

  <h4> Export to Primavera or MS Project for Scheduling</h4>
  <p>
    Each line item and assembly in Moodl.io can be assigned to a task/activity ID. This means you can see a preview of the
    costs for each task in the Task Table. By exporting the estimate to either Primavera or MS Project, you can quickly
    populate a construction schedule with resource names, predecessor names and all the cost- and resource-loaded tasks
    from the estimate.
  </p>

  <h4> Creating What-If Scenarios</h4>
  <p>
    Owners appreciate seeing multiple what-if scenarios for their construction projects and how these extras might
    impact the budget. Creating a what-if scenario in Moodl.io is simple; all the user needs to do is create an alternate.
    An alternate is a line item or assembly that can be included in, or excluded from, the estimate with just one click.
    Examples of alternate options include landscaping, a surveillance system, a sound system or even a flagpole.
  </p>

  <h4> Filtering by Code Structure</h4>
  <p>
    Filters are a powerful way to organize a view of your estimating data. Construction firms have several methods to
    code their estimating data, either by CSI Masterformat or Uniformat. And Moodl.io provides two different filter views,
    so users can toggle between the two.
  </p>

  <h4> Organizing Labor Rate Tables and Equipment Rate Tables</h4>
  <p>
    One of the challenges of honing-in on construction estimating accuracy is organizing rates for labor, crew and
    equipment. You can store corresponding rate tables which combine the base hourly and benefit rates to calculate the
    composite rate. For example, you might know the hourly rate for a forklift, but don’t want to forget the cost of
    operating the forklift with oil, gas, and maintenance fees. Utilizing standardized tables for these rates takes the
    guesswork out of estimating for your team.
  </p>
</div>
