<div class="page-wrapper" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="header-container" fxLayout="row" fxFlex >
    <div class="title-container" fxLayout="column" fxFlex>
      <h3>ESTIMATING</h3> 
    </div>
    <div class="accordion-actions" fxLayout="column" fxLayoutAlign="center center" >
      <mat-nav-list fxLayout="column" >
        <mat-list-item (click)="togglePanel()" fxLayout="column" fxLayoutAlign="end end"> <i class="fal fa-chevron-double-down"></i></mat-list-item>
      </mat-nav-list>
    </div>
  </div>
        <mat-accordion [multi]="true">
          <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                ESTIMATING SUMMARY
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="overview-container">
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>CURRENT ESTIMATED COST</mat-card-title>
                  <mat-card-content>
                    <h2>$1,558,850</h2>
                    <p>100% Schematic Design</p>
                  </mat-card-content>
              </mat-card>
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>COST TREND</mat-card-title>
                  <mat-card-content>
                    <h2>2.3% DECREASE</h2>
                    <p>from Baseline Budget</p>
                  </mat-card-content>
              </mat-card>
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>CURRENT ESTIMATED HOURS</mat-card-title>
                  <mat-card-content>
                    <h2>35%</h2>
                    <p>50% Design Development</p>
                  </mat-card-content>

              </mat-card>
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>COST PER GSF</mat-card-title>
                  <mat-card-content>
                    <h2>$1,644/SF</h2>
                    <p>+8% Higher Than Average</p>
                  </mat-card-content>
              </mat-card>
              <mat-card class="overview-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>VARIANCE FROM PREVIOUS</mat-card-title>
                  <mat-card-content>
                    <h2>5.3% | $2,644,010</h2>
                    <p>from 50% SD Estimate</p>
                  </mat-card-content>
              </mat-card>
            </div>

          </mat-expansion-panel>


          <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                ESTIMATING SUMMARY
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="dashboard-container" >
              <mat-card class="card-wide">
                <mat-card-title>ESTIMATE TREND</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="salesChartBar" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>COST PER SYSTEM</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>COST PER AREA</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>COST PER PHASE</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>COST PER FLOOR</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>VARIANCE ANALYSIS</mat-card-title>
                  <mat-card-content>

                  </mat-card-content>
              </mat-card>

              <mat-card class="card-wide">
                <mat-card-title>SYSTEM COST DETAIL</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="salesChartBar" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>
              <mat-card class="card-square-md">
                <mat-card-title>VARIANCE ANALYSIS</mat-card-title>
                  <mat-card-content>

                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>COST PER BID ITEM</mat-card-title>
                  <mat-card-content>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 235px;"></div>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-square-md">
                <mat-card-title>ESTIMATING TEAM</mat-card-title>
                  <mat-card-content>
                  </mat-card-content>
              </mat-card>

            </div>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                CUSTOM WIDGETS
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="overview-container">

            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
