<mat-card class="wide-card">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="projects" matSort class="animate">
    <ng-container matColumnDef="projectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> Project Name </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.projectName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.status }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addProject()">
          <i class="fas fa-plus"></i>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="editProject()">
          <i class="fas fa-pencil"></i>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>

      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="warn" (click)="deleteProject()">
          <i class="fas fa-times"></i>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate" (click)="editProject()"></mat-row>
  </mat-table>
  <mat-paginator [length]="1" [pageSize]="1">
  </mat-paginator>
</mat-card>
