<div class="hero-container">
  <div class="hero-left" fxLayout="column" fxFlex="50%" fxLayoutAlign="start start">
    <h3>How to Get Started with Moodl.io</h3>
    <p>
      Our portfolio of construction management software solutions for today’s MEP contractors and engineers—combined
      with our commitment to innovation and service—has made us an industry leader in over 150 countries. We’ve earned
      the trust of our clients because of our extensive knowledge in specialty trades and expertise in positioning
      technologies.
    </p>

    <p>
      With a proven record of continually developing the art and science of cost-estimating technology, Moodl.io serves
      the quantity takeoff and cost estimating needs of building construction clients, large and small, all around the
      globe. Trimble Moodl.io serves the complete range of industry niches and customers—from regional single-office
      builders to global general contractors, facility owners, specialty contractors, public/government agencies and
      more.
    </p>
    <p>
      The quality of Moodl.io products is matched only by that of our implementation services, technical support and
      training. Our Professional Services Group is there for organizations worldwide to standardize processes and get
      estimating teams up and running fast. Accurate and responsive cost estimating is a strategic component of many of
      our clients, so we make sure our clients know and fully understand how to get the most out of this powerful
      software system.
    </p>
  </div>

</div>
<mat-divider></mat-divider>
