<mat-toolbar color="primary" class="solutions-section" fxLayout="column" fxLayoutAlign="center center">
  <h2 style="font-size: 22px;">SOLUTIONS</h2>
  <mat-tab-group mat-align-tabs="center" style="width: 90vw;">
    <mat-tab label="Cost Modeling">Cost Modeling</mat-tab>
    <mat-tab label="Detailed Estimating">
      <h3>Hit the ground running</h3>
      <p>
        Labor units, labor factoring, labor tracking and cost codes are built right into the program.
      </p>

      <h3>Easily catch potential errors</h3>
      <p>
        View subtotals across breakdowns in any order so you can quickly catch potenital errors.
      </p>

      <h3>Easily create</h3>
      <p>
        Custom, project-specific assemblies on-the-fly for any size project.
      </p>

      <h3>Quickly compare</h3>
      <p>
        Components of the estimate with our instant bid summary.
      </p>

      <h3>Proven Material Database</h3>
      <p>Access over 40,000 items and 9,500 assemblies--flexible enough for any sized project.</p>


      <h3>Dynamic Takeoffs</h3>
      <p>Automatically calculate required assembly component quantities or count specifications.</p>


      <h3>Multi-Level Breakdowns</h3>
      <p>View subtotals across breakdowns in any order. Break down the entire bid by logical and physical aspects such
        as floor, system, area, cost code, or drawing, and export this information to other applications.
      </p>


      <h3>Live Extensions</h3>
      <p>Instantly calculate each takeoff as it occurs, jumping from audit trail to extended bill of materials.</p>

      <h3>Instant Bid Summary</h3>
      <p>Compare estimate components using labor-to-material ratios, costs-per-foot, per-system or per-floor.</p>

      <h3>Live Link to Graphical Takeoff</h3>
      <p>Get one integrated estimating takeoff package with a live bi-directional link with Trimble LiveCount.</p>


      <h3>Live Sync to the Estimate</h3>
      <p> Save time and ensure accuracy with LiveCount’s bi-directional link with Trimble® Accubid® Classic—it tracks
        both lengths and counts in the same run.</p>


      <h3>Drawing Compare</h3>
      <p>Efficiency is easy when you can see what's been added or taken away since the last revision.</p>

      <h3>Filtering</h3>
      <p>Take filtering and layering to a new level with dynamic links to all of the breakdowns in Accubid.</p>

      <h3>Multi-User Support</h3>
      <p>Easily get all your estimators working on the same job utilizing the same set of drawings, which alleviates
        tedious job setups and maintaining multiple sets of drawings.</p>

      <h3>Auto Count</h3>
      <p>With LiveCount's patented Auto Count Secondary Search, finding all of a particular shape in your drawing and
        then segmenting out based on a text identifier is easy, saving the time of defining multiple searches.</p>

      <h3>View Controls</h3>
      <p>Navigate through your drawings with ease using powerful view controls -- Named Views and Linked Views -</p>
    </mat-tab>


    <mat-tab label="Trend Analysis">Trend Analysis</mat-tab>
    <mat-tab label="Collaboration">Collaboration</mat-tab>
    <mat-tab label="Historical Costs">Historical Costs</mat-tab>
    <mat-tab label="Trade Labor">Trade Labor Rates</mat-tab>
  </mat-tab-group>

  <div class="back-button" fxLayout="row" fxLayoutAlign="start center"
    style="cursor: pointer;padding:15px;width: max-content;" routerLink='/solutions' routerLinkActive>
    <h5 style="color: white; margin-right: 8px;">MORE SOLUTIONS</h5>
    <i style="color: white;" class="fas fa-chevron-circle-right fa-2x"></i>
    <h5 style="color: rgb(11, 59, 59); margin-left: 8px;">DOWNLOAD DATASHEET<i class="fal fa-file-pdf fa-2x"></i></h5>

  </div>
</mat-toolbar>
