<div class="modal-layout">
  <h3 mat-dialog-title>ADD PROJECT TYPE</h3>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <form [formGroup]="addProjectTypeFormGroup">
      <div fxLayout="column">
        <mat-form-field class="md-field">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>
        <mat-form-field class="md-field">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div fxLayout="row" mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
  </div>
</div>
