<div class="testimonials-section" fxLayout="column" fxLayoutAlign="center center" style="min-height: 450px;">
  <h2 style="font-size: 22px;">WHAT CLIENTS ARE SAYING</h2>
  <h4>"Rarely do we see such brilliance in modern construction estimating; a true joy!" - Electronic News and Review
  </h4>
  <h4>"10 out of 10, would use." - Elon Musk</h4>
  <h4>"It's as if the spirit of Thomas Edison himself penned each line of code." - Electrical Estimators Journal</h4>
  <h4>"This is incomprehensible gibberish." - Mark Benioff</h4>
</div>
<mat-divider></mat-divider>
