<div class="page-layout" fxLayout="column">
  <h1>MANAGE TRADES</h1>
  <mat-divider></mat-divider>

  <div class="chart-container" fxLayout="column">
    <mat-card>
      <mat-card-content>
        <div class="selection-header" fxFill fxLayout="row wrap" fxLayoutAlign="start-center">
          <mat-form-field>
            <mat-select>
              <optgroup label="Electrical & Technology">
                <option value="volvo">IBEW - Inside Wiremen</option>
                <option value="volvo">IBEW - Sound & Communications</option>
              </optgroup>
              <optgroup label="Mechanical & Plumbing">
                <option value="volvo">Sheetmetal Workers</option>
                <option value="saab">Plumbing</option>
                <option value="saab">Fire Protection</option>
              </optgroup>
              <optgroup label="Common">
                <option value="mercedes">Welders Union</option>
                <option value="audi">Carpenters</option>
                <option value="hyatt">Steelworkers</option>
                <option value="tx">Laborers</option>
              </optgroup>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Location</mat-label>
            <mat-select>
              <optgroup label="Estimates">
                <option value="volvo">IBEW #6 - San Francisco</option>
                <option value="saab">IBEW #617 - San Mateo</option>
              </optgroup>
            </mat-select>
          </mat-form-field>
        </div>

      </mat-card-content>

    </mat-card>
  </div>

</div>
