<div class="page-layout" fxLayout="column">
    <h1>MANAGE ROLES</h1>
    <mat-divider style="margin-bottom: 0px !important;"></mat-divider>
    <div class="actions-container">
      <button mat-raised-button class="action-button" color="primary" routerLink='/admin/dashboard'>Back</button>
      <button mat-raised-button class="action-button" routerLink='/admin/users'>Manage Users</button>
      <button mat-raised-button class="action-button" routerLink='/admin/roles/permissions'>Permissions</button>
    </div>
    <mat-divider></mat-divider>
    <admin-roles-list></admin-roles-list>
</div>