<div class="page-layout" fxLayout="column">
  <h1>MANAGE FILES</h1>

  <mat-divider style="margin-bottom: 15px !important;"></mat-divider>
  <div>

    <as-split direction="vertical">
      <as-split-area size="40">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip style="max-width: 160px;">Shared with Me</mat-chip>
          <mat-chip style="max-width: 160px;">Starred</mat-chip>
        </mat-chip-list>
        <mat-tab-group>
          <mat-tab label="Teams">
            <mat-nav-list>
              <mat-list-item>SFO Terminal 3 West</mat-list-item>
            </mat-nav-list>
          </mat-tab>
          <mat-tab label="Shared">
            <mat-nav-list>
              <mat-list-item>SFO Terminal 3 West</mat-list-item>
            </mat-nav-list>
          </mat-tab>
        </mat-tab-group>
      </as-split-area>
      <as-split-area size="75">
        <mat-card>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">Last Modified</mat-button-toggle>
            <mat-button-toggle value="italic">Date Created</mat-button-toggle>
            <mat-button-toggle value="underline">File Name</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card>
      </as-split-area>
    </as-split>
  </div>
</div>
