<div class="page-container">
  <div class="back-button" fxLayout="row" fxLayoutAlign="start center"
    style="cursor: pointer;padding:15px;width: max-content;" routerLink='/home' routerLinkActive>
    <i style="color: rgb(11, 59, 59);" class="fas fa-chevron-circle-left fa-2x"></i>
    <h5 style="color: rgb(11, 59, 59); margin-left: 8px;">BACK</h5>
  </div>
  <h2>WHY ESTIBASE?</h2>
  <mat-divider></mat-divider>
  <h5>Conceptual Estimating & Cost Modeling</h5>
  <p>
    Trimble Modelogix is an enterprise software solution that allows organizations to mine data from project estimates
    and “as built, actual” costs, with prices normalized to the time and location of the current opportunity, to create
    fast and accurate early phase cost models, all while reducing risk and removing a lot of guesswork.
  </p>
</div>
