<div class="features-section" fxLayoutAlign="center center" fxLayout="column">
  <h3>Features Section</h3>
  <div fxLayout="column">
    <button mat-raised-button>Advanced MEP Assemblies</button>
    <button mat-raised-button>Variance Reporting</button>
    <button mat-raised-button>Automated Qualifications</button>
    <button mat-raised-button>Client Data Engagement</button>
    <button mat-raised-button>Supplier-Sync™ Vendor Pricing</button>
    <button mat-raised-button>Collaborative Takeoff</button>
    <button mat-raised-button>Live Cost Extension</button>
    <button mat-raised-button>Modern Analytics Suite</button>
  </div>
</div>
