<div class="page-container">
  <h2>PRICING</h2>
  <mat-divider style="margin-bottom: 15px;"></mat-divider>
  <mat-card style="margin-bottom: 20px;">
    <mat-card-title>
      Base Subscription
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Project Management</mat-list-item>
        <mat-list-item>Client Analytics Portal</mat-list-item>
        <mat-list-item>Task & File Management</mat-list-item>
        <mat-list-item>Modern Reporting Suite</mat-list-item>
        <mat-list-item>Link Projects with Building Connected & Procore</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <h3>Modules:</h3>
  <div style="justify-content: center;">
    <app-price-table></app-price-table>
  </div>
</div>
