<div class="page-layout" fxLayout="column">
  <h1>MANAGE PROJECTS</h1>
  <mat-divider style="margin-bottom: 10px;"></mat-divider>

  <mat-tab-group>
    <mat-tab label="List">
      <team-project-list></team-project-list>
    </mat-tab>
    <mat-tab label="Kanban">
      <div class="dashboard-container">
        <mat-card class="card-tall">
          <mat-card-title>New Projects</mat-card-title>
        </mat-card>
        <mat-card class="card-tall">
          <mat-card-title>In Progress</mat-card-title>
        </mat-card>
        <mat-card class="card-tall">
          <mat-card-title>In Review</mat-card-title>
        </mat-card>
        <mat-card class="card-tall">
          <mat-card-title>Waiting</mat-card-title>
        </mat-card>

      </div>
    </mat-tab>
    <mat-tab label="Agile">
      <img src="https://i.pinimg.com/originals/64/6e/9b/646e9b36ad5921ff994434eedabac9dd.png" width="800px"> </mat-tab>

  </mat-tab-group>








</div>
