<h3>DEVELOPER REGISTRATION</h3>
<form fxLayout="column">
  <mat-form-field class="med-input">
    <mat-label>First Name</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field class="med-input">
    <mat-label>Last Name</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field class="med-input">
    <mat-label>Email</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field class="med-input">
    <mat-label>Industry</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field class="med-input">
    <mat-label>Development Goals</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>
