<mat-card-title>
  <i class="fad fa-circle" style="color: green;"></i>
  DEPLOYMENT SUMMARY
</mat-card-title>
<mat-card-content>
  <p>Landing: Good &nbsp; <i class="fas fa-check" style="color: green;"></i></p>
  <p>Web: Good &nbsp; <i class="fas fa-check" style="color: green;"></i></p>
  <p>Mobile: Good &nbsp;<i class="fas fa-check" style="color: green;"></i></p>
  <p>Docs: Good &nbsp; <i class="fas fa-check" style="color: green;"></i></p>
  <p>Support: Good &nbsp;<i class="fas fa-check" style="color: green;"></i></p>
</mat-card-content>
