<form>
    
</form>

<mat-list>
  <mat-list-item>Utilities</mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item>Enabling Work</mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item>Temporary Utilities</mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item>Mechanical</mat-list-item>
  <mat-list-item>Plumbing</mat-list-item>
  <mat-list-item>Fire Protection</mat-list-item>
  <mat-list-item>Electrical</mat-list-item>
  <mat-list-item>Fire Alarm</mat-list-item>
  <mat-list-item>Communications</mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item>Life Safety Considerations</mat-list-item>
  <mat-list-item>Emergency Power</mat-list-item>
  <mat-list-item>Fire Alarm Systems</mat-list-item>
  <mat-list-item>Area of Refuge</mat-list-item>
  <mat-list-item>Two-Way Radio</mat-list-item>
  <mat-list-item>ERRCS</mat-list-item>
</mat-list>



<mat-list-item>Demo requirements (safe-off-only, selective demo, etc)</mat-list-item>
<mat-list-item>% of sf requiring demolition</mat-list-item>
<mat-list-item>Laydown Space Available</mat-list-item>
<mat-list-item>Parking Costs/Day</mat-list-item>
<mat-list-item>Temporary Power Requirements</mat-list-item>
<mat-list-item>Duration Requiring Temporary POwer</mat-list-item>
<mat-list-item># of Site Trailers to Connect</mat-list-item>
<mat-list-item># of Man Lifts</mat-list-item>
<mat-list-item># of Tower Cranes</mat-list-item>


<mat-list-item>Fire Alarm</mat-list-item>
<mat-list-item>Smoke Control</mat-list-item>
<mat-list-item>PreAction</mat-list-item>
<mat-list-item>Deluge</mat-list-item>
<mat-list-item>Tele/Data</mat-list-item>

<mat-list-item>Security Access Control & IDS</mat-list-item>
<mat-list-item>CCTV & Video Surveillance</mat-list-item>
<mat-list-item>Room Entry/Intercom</mat-list-item>
<mat-list-item>Bagage Handling SYstems</mat-list-item>
<mat-list-item>Voice Systems</mat-list-item>
<mat-list-item>Overhead Paging</mat-list-item>
<mat-list-item>Nurse Call</mat-list-item>
<mat-list-item>Room Scheduling</mat-list-item>
<mat-list-item>Masterclock</mat-list-item>
<mat-list-item>Wayfinding Dashboards</mat-list-item>
<mat-list-item>Audio-Visual</mat-list-item>
<mat-list-item>Chemical Grounding</mat-list-item>
<mat-list-item>Electronic Video Displays</mat-list-item>
<mat-list-item>Wireless Access</mat-list-item>
<mat-list-item>Public Cellular DAS</mat-list-item>
<mat-list-item>Bluetooth Beacon Location Services</mat-list-item>
