<div class="features-section" fxLayoutAlign="center center" fxLayout="column">
  <h2 style="font-size: 22px;">FEATURES</h2>
  <mat-tab-group mat-align-tabs="center" style="width: 90vw; min-height: 580px;">

    <mat-tab label="Advanced MEP Assemblies">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="left-container" fxLayout="column" fxFlex>
          <h1>Advnaced</h1>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/screenshots%2F1.PNG?alt=media&token=48f348c5-9bd6-4b74-b309-f9de52fbd37c"
            height="350px">
        </div>
        <div class="right-container" fxLayout="column" fxFlex>

        </div>
      </div>

    </mat-tab>

    <mat-tab label="Variance Reporting">
      Variance Reporting
    </mat-tab>

    <mat-tab label="Automated Qualifications">
      Automated Qualifications
    </mat-tab>

    <mat-tab label="Client Data Engagement">
      Client Data Engagement
    </mat-tab>

    <mat-tab label="Supplier-Sync™ Vendor Pricing">
      Supplier-Sync™ Vendor Pricing
    </mat-tab>

    <mat-tab label="Collaborative Takeoff">
      Collaborative Takeoff
    </mat-tab>

    <mat-tab label="Live Cost Extension">
      Live Cost Extension
    </mat-tab>

    <mat-tab label="Modern Analytics Suite">
      Modern Analytics Suite
    </mat-tab>

  </mat-tab-group>
  <div class="back-button" fxLayout="row" fxLayoutAlign="start center"
    style="cursor: pointer;padding:15px;width: max-content;" routerLink='/features' routerLinkActive>
    <i style="color: rgb(11, 59, 59);" class="fas fa-chevron-circle-right fa-2x"></i>
    <h5 style="color: rgb(11, 59, 59); margin-left: 8px;">SEE MORE FEATURES</h5>
    <h5 style="color: rgb(11, 59, 59); margin-left: 8px;">DOWNLOAD DATASHEET<i class="fal fa-file-pdf fa-2x"></i></h5>
  </div>
