.banner-container {
  margin-top: -10px;
  height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("https://firebasestorage.googleapis.com/v0/b/moodlio-dev.appspot.com/o/images%2Fcareers.jpeg?alt=media&token=89d0a0cd-931b-47f8-92f1-1f6484826fb2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-size: 4.5em;
  font-weight: 800;
  letter-spacing: .2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}


.cta-actions {
  margin-top: 50px;
}

.banner-text {
  padding: 100px;
  text-align: center;
  color: white;

  h2 {
    font-weight: lighter;
  }
}

.mat-stroked-button {
  padding: 0 1.15em;
  border-color: white;
  margin: 0 1.25em;
  min-width: 3em;
  line-height: 36.4px
}
