<div class="nav-menu">
  <mat-nav-list fxLayout="row" fxLayoutAlign="center center">
    <mat-list-item [matMenuTriggerFor]="estimatingMenu">
      <h3>TICKETS &nbsp;<i class="fal fa-chevron-down"></i></h3>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="reportingMenu">
      <h3>REPORTING &nbsp;<i class="fal fa-chevron-down"></i></h3>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="analyticsMenu">
      <h3>ANALTYICS &nbsp;<i class="fal fa-chevron-down"></i></h3>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="filesMenu">
      <h3>FILES &nbsp;<i class="fal fa-chevron-down"></i></h3>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="clientsMenu">
      <h3>CLIENTS &nbsp;<i class="fal fa-chevron-down"></i></h3>
    </mat-list-item>
  </mat-nav-list>

  <mat-menu #estimatingMenu="matMenu" xPosition="after" >
    <button mat-menu-item routerLink="/team/estimating" >Estimates</button>
    <button mat-menu-item routerLink="/team/projects">Projects</button>
    <button mat-menu-item routerLink="/team/items">Item Database</button>
    <button mat-menu-item routerLink="/team/assemblies">Assemblies Catalog</button>
    <button mat-menu-item routerLink="/team/rates" mat-menu-item>Labor Rates</button>
    <button mat-menu-item routerLink="/team/trades">Trades</button>
    <button mat-menu-item routerLink="/team/systems">Systems</button>
  </mat-menu>
  <mat-menu #reportingMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/team/reports" style="min-width: 200px;">Manage Reports</button>
    <button mat-menu-item routerLink="/team/reports/variance">Variance Builder</button>
    <button mat-menu-item routerLink="/team/reports/trends">Cost Trends</button>
    <button mat-menu-item routerLink="/team/reports/custom">Custom Reports</button>
    <button mat-menu-item routerLink="/team/reports/preferences" mat-menu-item>Preferences</button>
  </mat-menu>
  <mat-menu #analyticsMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/team/analytics/cost-indices" style="min-width: 200px;">Costs Indices</button>
    <button mat-menu-item routerLink="/team/analytics/historical">Historical Costs</button>
    <button mat-menu-item routerLink="/team/analytics/modeling">Cost Modeling</button>
    <button mat-menu-item routerLink="/team/analytics/benchmark">Benchmarking</button>
  </mat-menu>
  <mat-menu #filesMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/team/files" style="min-width: 200px;">Manage Files</button>
    <button mat-menu-item routerLink="/team/files/upload">Upload Files</button>
  </mat-menu>
  <mat-menu #clientsMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/team/clients/invite"style="min-width: 200px;">Quick Invite</button>
    <button mat-menu-item routerLink="/team/clients">Manage Clients</button>
    <button mat-menu-item routerLink="/team/teams">Manage Teams</button>
  </mat-menu>
</div>
