.hero-container {
  display: flex ;
  height: 550px;
  display: grid;
  grid-gap: 0rem;
  margin: 0px;
  padding: 0px;
}


.hero-right {
  background: url('./../images/illustration.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
