
.overview-container {
  padding-bottom: 15px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 110px;
}
.mat-accordion {
  width: 100%;
}

.mat-sidenav-container {
  width: 100%;
}
.mat-nav-list {
  display: flex;
  text-align: center;
  justify-items: center;
}
.mat-list-item {
  text-align: center;
  justify-items: center;
  font-size: small;
}
.mat-expansion-panel {
  background-color: #f1f1f1;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background: transparent;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgb(255, 255, 255);
  border-radius: 12px;
}
.dashboard-container {
    padding-bottom: 15px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 320px;
}
.mat-card-title {
  font-size: medium;
  font-weight: bold;
}
.overview-card {
  text-align: center;
}
p {
  margin: 0px;
}

.mat-card:hover{
  box-shadow: 1.5px 5px 5px 5px rgba(0,0,0,0.1);
}
.project-map {
  border-radius: 0px;
}

@media screen and (min-width: 600px) {
  .overview-card {
    grid-row: span 1 / auto;
    grid-column: span 1 / auto;

  }
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}
img {
  border-radius: 50%;
  margin: 8px;
}
.mat-card {
  background: transparent;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
-8px -8px 18px 0 rgba(255, 255, 255, 0.55);
border-radius: 12px;
}

