<div class="page-container">
  <div class="banner-container" fxLayoutAlign="center center">
    <div class="banner-text">
      <h1>WELCOME TO DATA-DRIVEN ESTIMATING</h1>
      <h2>The complete estimating and cost modeling platform for modern building systems.</h2>
      <div class="cta-actions">
        <button mat-stroked-button routerLink="/trial" routerLinkActive>Try Free for 30-Days</button>
        <button mat-stroked-button pageScroll href="#contactSales">👋 Contact Sales</button>
      </div>
    </div>
  </div>
  <app-hero></app-hero>
  <app-solutions id="solutions"></app-solutions>
  <app-features id="features"></app-features>
  <app-support id="support"></app-support>
  <app-feed></app-feed>
  <app-testimonials></app-testimonials>
  <app-contact-sales id="contactSales"></app-contact-sales>
  <app-partners></app-partners>
</div>
