<mat-card class="wide-card">
  <mat-table [dataSource]="roles" matSort class="animate">

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.description }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addRole()">
          <i class="fas fa-plus"></i>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="editRole()">
          <i class="fas fa-pencil"></i>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="warn" (click)="deleteRole()">
          <i class="fas fa-times"></i>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate" (click)="editRole()"></mat-row>
  </mat-table>
</mat-card>
