<div class="contact-sales-section" fxLayout="column" fxLayoutAlign="center center"
  style="min-height: 380px;background-color: rgba(235, 206, 78, 0.39);">
  <h1 style="font-weight: bolder;">
    Still Have Questions?
  </h1>
  <h3>Contact one of our experts to schedule a demo today!</h3>
  <br>
  <div fxLayout="row">
    <button mat-stroked-button style="font-size: large;border-color: rgb(27, 27, 27);">Schedule a Demo</button>
    <button mat-stroked-button style="font-size: large;border-color: rgb(27, 27, 27);  margin-left: 20px;">
      Contact Sales</button>
  </div>
</div>
