<div class="page-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="back-button" fxLayout="row" fxLayoutAlign="start center"
  style="cursor: pointer;padding:15px;width: max-content;" routerLink='/home' routerLinkActive>
  <i style="color: rgb(11, 59, 59);" class="fas fa-chevron-circle-left fa-2x"></i>
  <h5 style="color: rgb(11, 59, 59); margin-left: 8px;">BACK</h5>
</div>
  <h2>CONTACT US</h2>
  <mat-divider></mat-divider>
  <div class="main-container">
    <form fxLayout="column">
      <mat-form-field class="med-input">
        <mat-label>First Name</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>

      <mat-form-field class="med-input">
        <mat-label>Last Name</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>

      <mat-form-field class="med-input">
        <mat-label>Title</mat-label>
        <textarea matInput placeholder="Electrical Estimator"></textarea>
      </mat-form-field>

      <mat-form-field class="med-input">
        <mat-label>Company</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>

      <mat-form-field class="med-input" appearance="fill">
        <mat-label>Industry</mat-label>
        <select matNativeControl required>
          <option value="volvo">General Construction</option>
          <option value="mercedes">Architectural</option>
          <option value="saab">Electrical</option>
          <option value="mercedes">Fire Alarm</option>
          <option value="mercedes">Mechanical</option>
          <option value="mercedes">Plumbing</option>
          <option value="mercedes">Fire Protection</option>
          <option value="mercedes">Network/Communications</option>
          <option value="audi">Developer</option>
          <option value="owner">MEP Engineer</option>
          <option value="owner">Owner</option>
        </select>
      </mat-form-field>

      <mat-form-field class="med-input">
        <mat-label>Email</mat-label>
        <textarea matInput placeholder="George"></textarea>
      </mat-form-field>

      <mat-form-field class="med-input">
        <mat-label>Phone</mat-label>
        <textarea matInput placeholder="Westinghouse"></textarea>
      </mat-form-field>

      <mat-form-field class="med-input" appearance="fill" >
        <mat-label>Comments</mat-label>
        <textarea matInput style="min-height: 250px;"></textarea>
      </mat-form-field>

      <mat-checkbox class="example-margin">Sign me up for the Moodl.io newsletter</mat-checkbox>
    </form>
    <button mat-raised-button color="primary" style="margin-top: 15px;">Submit</button>
    
  </div>
</div>
