<mat-card>
  <mat-card-header>
    <mat-card-title>ACTIVE CLIENTS</mat-card-title>
    <mat-card-subtitle>Client Summary</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-table #table [dataSource]="activeClients" matSort class="animate">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.name }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate" (click)="editClient()"></mat-row>
    </mat-table>
    <mat-paginator [length]="1" [pageSize]="1">
    </mat-paginator>
  </mat-card-content>
</mat-card>
