<div class="banner-container" fxLayoutAlign="center center" style="margin:0px; padding: 0px;">
  <div class="banner-text">
    <h2 style="color: rgb(41, 54, 52);">WHAT CAN WE HELP YOU WITH?</h2>
    <mat-form-field class="search-form">
      <mat-label>Search</mat-label>
      <input matInput placeholder="ex: How do I review Billing?">
    </mat-form-field>
    <div class="cta-actions">

      <button mat-stroked-button>Contact Sales</button>
      <button mat-stroked-button>Learn More</button>
    </div>
  </div>

</div>
