.chat-alert {

  :hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  display: block;
  position: fixed;
  bottom: 25px;
  right: 50px;
  padding: 8px
}

.chat-text {
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  padding: 10px;
}

.chat-icon {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  color: white;
}

.team-avatar {
  border-radius: 50%;
}
