<div class="recent-posts-section" style="background-color: rgba(247, 247, 247, 0.623);">

  <div class="overview-container">
    <mat-card class="card-tall">
      <mat-card-title>Calculating The Impacts of COVID-19</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <mat-card-title>Q2 Construction Cost Report</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <mat-card-title>Staying Ahead of the Curve</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <mat-card-title>Project Spotlight: XYZ Corp Headquarters</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-tall">
      <mat-card-title>2020 NECA Manual of Labor Units Released</mat-card-title>
      <mat-card-content>
        <p>And some more text...</p>
      </mat-card-content>
    </mat-card>
  </div>
  More News
</div>
