<mat-toolbar color="primary" class="solutions-section" fxLayout="column" fxLayoutAlign="center center">
  <h2 style="font-size: 22px;">SOLUTIONS</h2>
  <mat-tab-group mat-align-tabs="center" style="width: 90vw; min-height: 580px;">
    <mat-tab label="Cost Modeling">Cost Modeling</mat-tab>
    <mat-tab label="Detailed Estimating">Detailed Estimating</mat-tab>
    <mat-tab label="Trend Analysis">Trend Analysis</mat-tab>
    <mat-tab label="Collaboration">Collaboration</mat-tab>
    <mat-tab label="Historical Costs">Historical Costs</mat-tab>
  </mat-tab-group>
</mat-toolbar>
