<div class="page-container">
  <div class="back-button" fxLayout="row" fxLayoutAlign="start center"
    style="cursor: pointer;padding:15px;width: max-content;" routerLink='/home' routerLinkActive>
    <i style="color: rgb(11, 59, 59);" class="fas fa-chevron-circle-left fa-2x"></i>
    <h5 style="color: rgb(11, 59, 59); margin-left: 8px;">BACK</h5>
  </div>
  <h2>ABOUT</h2>
  <mat-divider></mat-divider>
  <p>"Hard work is at the center of our values" </p>
  <h1>Max Geller </h1>
  <h3>Principal</h3>
</div>
