<div class="page-layout" fxLayout="column">
  <h1>MANAGE CLIENTS</h1>
  <mat-divider style="margin-bottom: 0px !important;"></mat-divider>
  <div class="actions-container">
    <button mat-raised-button class="action-button" color="primary" routerLink='/admin/dashboard'>Back</button>
    <button mat-raised-button class="action-button" color="accent">Seed Fake Client</button>
    <button mat-raised-button class="action-button" routerLink='/admin/users'>Manage Users</button>
    <button mat-raised-button class="action-button" routerLink='/admin/tenants'>Manage Tenants</button>
  </div>
  <mat-divider></mat-divider>
  <admin-client-list></admin-client-list>
</div>
