<div class="page-container" >
  <h2>SOLUTIONS</h2>
  <mat-divider></mat-divider>
  <h5>Conceptual Estimating & Cost Modeling</h5>
  <p>
    Trimble Modelogix is an enterprise software solution that allows organizations to mine data from project estimates
    and “as built, actual” costs, with prices normalized to the time and location of the current opportunity, to create
    fast and accurate early phase cost models, all while reducing risk and removing a lot of guesswork.
  </p>
  <p>
    One of the first systems to truly leverage a company’s project-cost history, Modelogix cost-modeling tool ties
    seamlessly to data from any leading cost-tracking solution—including MS Excel, Moodl.io and any others. Data is stored
    and managed in a userdefined cost structure and readily accessible, as needed, throughout your company.
  </p>

  <h5>Detailed Estimating Suite</h5>
  <p>

  </p>

  <h5>Trend Analysis</h5>
  <p>
    Leverage the advanced reporting capabilities of Microsoft Power BI to deliver modern cost trend analytics.
  </p>

  <h5>Stakeholder Engagement</h5>
  <p>
    Moodl.io was designed using a client-centric approach, and is built around a powerful client engagement portal to deliver valuable cost insights across your project team.
  </p>

  <h5>Historical Costs</h5>
  <p>
    Use a number of advanced inflation-adjustment indices provided with the Estibase platform.
  </p>

</div>
